@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

img[alt="www.000webhost.com"] {
    display: none;
}

:root {
    --bg0: #1E1F41;
    --bg1: #131433;
    --bg2: #100F2E;
    --bg3: #0A0919;
    --color1: #F5AF33;
    --color2: #FFB800;
    --color3: #dda200;
    --text1: #F7F7F7;
    --text2: #D8D7D7;
    --text3: #AEAEAF;
    --text4: #555555;
    
}


/* -------------------------------------------- ALL -------------------------------------------- */


.btn-1 {
    border: none;
    width: 120px;
    height: 36px;
    font-size: 12px;
    color: var(--text1);
    border-radius: 100px;
    background-color: var(--color2);
}

.btn-1:hover {
    transition: 0.5s;
    color: var(--color2);
    background-color: transparent;
    border: solid var(--color2) 1px;
}

.btn-1:focus {
    color: var(--color2);
    background-color: transparent;
    border: solid var(--color2) 1px;
}

.btn-2 {
    width: 160px;
    height: 36px;
    font-size: 12px;
    border-radius: 100px;
    color: var(--color2);
    background-color: transparent;
    border: solid var(--color2) 1px;
}

.btn-2:hover {
    transition: 0.5s;
    color: var(--text1);
    background-color: var(--color2);
}

.j-1 {
    font-weight: 700;
    color: var(--text1);
}

.j-2 {
    font-weight: 700;
    color: var(--color3);
}

.p-1 {
    color: var(--color3);
}

.segitiga1 {
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    transform: rotate(40deg);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid var(--bg2);
}

.segitiga2 {
    width: 0;
    height: 0;
    z-index: -1;
    position: absolute;
    margin: 35% 0% 0% 90%;
    transform: rotate(60deg);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid var(--bg2);
}

@media screen and (max-width: 900px) {
    .segitiga2 {
        margin: 40rem 0rem 0rem 65%;
    }
}

@media screen and (max-width: 600px) {
    .segitiga2 {
        margin: 40rem 0rem 0rem 65%;
    }
}


/* -------------------------------------------- JUMBOTRON -------------------------------------------- */

body {
    height: 100%;
}

.jumbotron {
    margin: 0px;
    border-radius: 0px;
    background-color: var(--bg3);
}

.jumbotron .container .row {
    z-index: 1111111;
    position: relative;
}

.jumbotron .deskripsi {
    padding-top: 52px;
    padding-bottom: 52px;
}

.jumbotron .deskripsi h5 {
    color: var(--text2);
    font-weight: normal;
}

.jumbotron .deskripsi .nama {
    font-size: 70px;
    font-weight: bold;
    color: var(--text1);
}

.jumbotron .deskripsi p {
    color: var(--text3);
}

.jumbotron .deskripsi .button {
    margin: 40px 0px;
}

.jumbotron .gambar {
    width: 100%;
    padding: 5% 5%;
    object-position: center;
}

.jumbotron .gambar img {
    width: 400px;
}

@media screen and (max-width: 900px) {
    .jumbotron .gambar img {
        width: 400px;
        margin-left: 15%;
    }
}

@media screen and (max-width: 600px) {
    .jumbotron .gambar img {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .jumbotron .gambar img {
        width: 250px;
    }

    .jumbotron .deskripsi .nama {
        font-size: 52px;
    }
}
